    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Ira Creations</h3>

            <p class="footer-links">
                <a href="/creations" class="link-1">Home</a>
                
                <a href="/about">About</a>
            </p>

            <p class="footer-company-name">Ira Creations © 2019</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fas fa-location-arrow"></i>
                <p><span>Haridwar</span> Uttrakhand</p>
            </div>

            <div>
                <i class="fas fa-phone"></i>
                <p>+91-9927531520</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:kaartik1999@gmail.com">kaartik1999@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the Developer</span>
                This website is created by Kaartik gupta with all my efforts to make it more effective for the users.
            </p>

            <div class="footer-icons">

                
                <a href="https://twitter.com/gupta_kaartik"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/kaartik-gupta/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Kaartikgupta"><i class="fab fa-github"></i></a>

            </div>

        </div>

    </footer>
</body>
</html>