<%- include("../partials/header")%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Motor Trend</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/stylesheets/commentnew.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
<!-- <div class="container">
    <div style="text-align: center;"> --><header>
        <div class="loginbox">
        <h1 >add comment to <%=campground.name%></h1><hr/>
    <!-- </div class="row">
        <div style="width: 30%; margin: 30px auto;"> -->
            <form action="/creations/<%=campground.id%>/comments" method="POST">
                <!-- <div class="form-group"> -->
                    <input  type="text" name="comment[text]" placeholder="Text" id="">
                    <!-- <textarea class="form-control" name="comment[text]" id="form17" rows="3" placeholder="Add a comment"></textarea> -->
                <!-- </div>
                <div class="form-group"> -->
                    <button >Submit</button><br>
                    <a class="back" href="/creations"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
               
                <!-- <a href="/campgrounds">Go back</a> -->
            </form>
        </div>
    </div>
    
</div>
</header>

<%- include("../partials/footer")%>