<%- include("partials/header")%>

<!-- <form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form> -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Motor Trend</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <header>
            <div class="loginbox">
            
                <h1>Login </h1>
                <hr />
            <form action="/login" method="POST">
                
                    <input  type="text" name="username" placeholder="Username" id="">
               
               
                    <input  type="password" name="password" placeholder="Password">
               
              <button>Login</button>
                   
                <div class="last">Don't have an account? <a class="back" href="/register">Join</a></div>
                <a class="back" href="/creations"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
            </form>
        </div>
        </header>
    

</body>
<%- include("partials/footer")%>