*{
    
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  
    
}
header{
    height: 100vh;
    width: 100%;
    background-image: url("/views/home-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* font-family: 'Pacifico', cursive; */
}
.loginbox{
    text-align: center;
    transition: 0.5s;
}
.loginbox:hover{
    -webkit-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
}
.loginbox h1{
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: rgb(14, 13, 13);

}
.loginbox hr{
    width: 50%;
    margin: auto;
    margin-top: 5px;
    padding: 2px;
    background: #6a96d1;
    border: none;
}
.loginbox input{
    width: 90%;
    padding: 1.2rem;
    margin: 20px 0px;
    border: none;
    color: rgb(20, 20, 20);
    border-bottom: 1px solid #0e0d0d;
    font-weight: 1.5rem;
    background: transparent;
    outline: none;
}
.loginbox button{
    padding: 0.7rem 3rem;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(17, 17, 17);
    border: rgba(26, 139, 231, 0.5) solid;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 8px;
}
.loginbox button:hover{
    transform: scale(1.05);
    background-color: rgba(26, 139, 231, 0.5);
}
.back{
    text-decoration: none;
}
.back:hover{
    text-decoration: none;
}
.last
{
    color: rgb(10, 10, 10);
}